@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 500;
  src: url("./static/fonts/opensans/opensans-regular-webfont.eot");
  src: url("./static/fonts/opensans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./static/fonts/opensans/opensans-regular-webfont.woff2") format("woff2"), url("./static/fonts/opensans/opensans-regular-webfont.woff") format("woff"), url("./static/fonts/opensans/opensans-regular-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 800;
  src: url("./static/fonts/opensans/opensans-bold-webfont.eot");
  src: url("./static/fonts/opensans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./static/fonts/opensans/opensans-bold-webfont.woff2") format("woff2"), url("./static/fonts/opensans/opensans-bold-webfont.woff") format("woff"), url("./static/fonts/opensans/opensans-bold-webfont.ttf") format("truetype"); }
.title-h1 {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 2.2rem;
  line-height: 3.35rem;
  margin: 0 0 .5rem 0; }
  @media (min-width: 36rem) {
    .title-h1 {
      font-size: 2.5rem; } }
  .title-h1::after {
    border-bottom: 0.15rem solid #40b6e5;
    content: '';
    display: block;
    max-width: 10.9rem;
    position: relative;
    top: 1rem; }

.title-h2--underline,
.title-h2 {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.75rem;
  margin-left: 1rem;
  text-transform: uppercase; }
  @media (min-width: 36rem) {
    .title-h2--underline,
    .title-h2 {
      font-size: 2rem; } }
  @media (min-width: 48rem) {
    .title-h2--underline,
    .title-h2 {
      margin-bottom: 5.75rem; } }

.title-h2--underline {
  text-transform: uppercase; }
  .title-h2--underline::after {
    border-bottom: 0.15rem solid #40b6e5;
    content: '';
    display: block;
    max-width: 10.9rem;
    position: relative;
    top: 1rem; }

.title-h3 {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: .5rem; }
  @media (min-width: 36rem) {
    .title-h3 {
      font-size: 1.15rem; } }

.title-h4 {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: .2rem 0 .5rem 0; }
  @media (min-width: 36rem) {
    .title-h4 {
      font-size: 1.15rem; } }

.typo-title {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 1.5rem 0; }

.typo-copy {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: .9rem;
  letter-spacing: .03rem;
  line-height: 1.35; }

.typo-ul {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: .8rem; }

.typo-a {
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  color: #40b6e5;
  text-transform: uppercase;
  text-decoration: none; }
  .typo-a::after {
    transition: box-shadow 0.5s ease;
    content: '';
    display: block;
    height: .05rem;
    position: relative;
    top: .1rem; }
  .typo-a:hover::after {
    box-shadow: 0px 1px 1px #40b6e5; }

a {
  color: #242e3f;
  transition: color 0.3s ease; }
  a:hover {
    color: #40b6e5; }

address {
  font-size: .9rem;
  font-style: normal;
  line-height: 1.2rem;
  margin-bottom: 1.5rem; }

.typo-color--white {
  color: #fff; }

.typo-color--light {
  color: theme-color("gray-300"); }

.typo-color--primary {
  color: #242e3f; }

.typo-color--secondary {
  color: #40b6e5; }

html {
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-size: 1.25rem;
  overflow-x: hidden; }

body {
  color: #242e3f;
  font-family: "Arial, Helvetica, sans-serif", sans-serif;
  font-size: .8rem;
  height: 100%;
  margin: 0;
  width: 100%; }

.references, .services,
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 .25rem;
  position: relative; }
  @media (min-width: 36rem) {
    .references, .services,
    .container {
      padding: 0 .5rem; } }

.main-content-wrap {
  min-height: 100vh;
  padding: 0;
  position: relative; }

.no-list-type {
  list-style: none; }

.no-margin {
  margin: 0; }

.content-two-cols {
  columns: 2; }

.hidden {
  display: none; }

.align {
  display: flex;
  width: 100%; }
  .align--right {
    justify-content: center; }
    @media (min-width: 48rem) {
      .align--right {
        justify-content: flex-end; } }

.text-hide {
  display: block;
  height: 1px;
  text-indent: -9999px; }

.badge {
  background: #fff;
  border: 0.15rem solid #40b6e5;
  border-radius: 50%;
  color: #242e3f;
  font-size: 1.15rem;
  font-weight: bold;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  width: 2.4rem; }

.btn {
  border: 0;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 1.5rem 1.25rem;
  text-align: center; }
  .btn--wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3rem 0; }
  .btn--primary {
    transition: background 0.5s ease;
    background: #242e3f;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    .btn--primary:hover {
      background: #11161f;
      color: #fff; }
  .btn--secondary {
    transition: background 0.5s ease;
    background: #40b6e5;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
    .btn--secondary:hover {
      background: #1da1d5;
      color: #fff; }
    .btn--secondary--border {
      background: transparent;
      border: 0.15rem solid #40b6e5;
      font-size: .8rem;
      padding: .85rem 3rem; }
  .btn--right {
    flex-basis: flex-end; }

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .form input:not([type="submit"]),
  .form textarea {
    background: #fff;
    border: 0;
    height: 1.5rem;
    margin: 0 .125rem .5rem .125rem;
    padding: .5rem 1rem; }
  .form input:not([type="submit"]) {
    width: calc((100% - 4.5rem) / 2); }
  .form textarea {
    height: 7.6rem;
    width: 100%; }
  .form input[type="submit"] {
    font-size: .8rem;
    min-width: 11rem;
    padding: .75rem 1.5rem; }
    .form input[type="submit"]:hover {
      cursor: pointer; }
  .form .gdpr {
    margin: 0 0 .8rem 0; }

.table thead tr th {
  background: theme-color("primary");
  color: theme-color("white");
  font-weight: 400; }
.table-wrap {
  margin: 2.5rem 0; }
.table-striped tbody tr:nth-of-type(odd) {
  background: theme-color("white"); }
.table-striped tbody tr:nth-of-type(even) {
  background: theme-color("light"); }
.table tr td.active {
  background: theme-color("secondary-light"); }

.list-angle-right li {
  list-style: none; }
  .list-angle-right li::before {
    content: '\203A';
    font-size: 1rem;
    margin-right: .4rem; }
.list-type-primary {
  counter-reset: li;
  list-style: none; }
  .list-type-primary li::before {
    color: theme-color("primary"); }
  .list-type-primary--ol > li {
    counter-increment: li; }
    .list-type-primary--ol > li::before {
      content: counter(li);
      color: theme-color("primary");
      display: inline-block;
      width: 1rem;
      margin-left: -1rem; }

.swiper {
  align-items: center;
  background: theme-color("black");
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  height: 10rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative; }
  .swiper-container {
    height: 8rem;
    width: 88%; }
  .swiper-slide {
    background: theme-color("black");
    color: theme-color("gray-300");
    text-align: center;
    font-size: .6rem;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-right: 0.5rem !important; }
    .swiper-slide img {
      object-fit: cover;
      width: 100%; }
    .swiper-slide .content {
      line-height: .8rem;
      padding-top: .5rem;
      margin: 0;
      max-height: 1.2rem; }
  .swiper-button-prev, .swiper-button-next {
    height: 1.3rem;
    opacity: .5;
    width: 1rem; }
    .swiper-button-prev:hover, .swiper-button-next:hover {
      opacity: 1; }
  .swiper-button-prev {
    background: url("./static/images/arrow-left.png") no-repeat; }
  .swiper-button-next {
    background: url("./static/images/arrow-right.png") no-repeat; }

.contact-box .logo {
  margin: 0;
  width: 5.75rem; }

.contact-form-box__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer {
  background: #eaeff2;
  flex-wrap: wrap;
  margin-top: 7.75rem;
  position: relative; }
  .footer--top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: relative;
    z-index: 100; }
    .footer--top .contact-box,
    .footer--top .contact-form-box {
      width: 100%; }
      .footer--top .contact-box h2,
      .footer--top .contact-form-box h2 {
        margin-left: 0; }
      @media (min-width: 62rem) {
        .footer--top .contact-box,
        .footer--top .contact-form-box {
          padding: 0 1.5rem;
          width: calc((100% - 6rem) / 2); } }
    @media (min-width: 62rem) {
      .footer--top {
        flex-direction: row; } }
    @media (min-width: 75rem) {
      .footer--top {
        padding: 0; } }
  .footer--bottom {
    border-top: 0.05rem solid #000;
    margin: 2rem 1.5rem 0 1.5rem;
    padding: .35rem 0; }
  .footer__bg {
    background: #eaeff2;
    height: 9.75rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(-5deg);
    transform-origin: left top;
    width: 100%;
    z-index: 10; }

.header {
  background: #242e3f;
  display: block;
  height: auto;
  position: relative;
  z-index: 1000; }
  .header h1 {
    margin: .5rem 0; }
  .header__wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem; }
  .header .logo {
    height: 1.8rem;
    margin: 0;
    width: auto; }
    .header .logo img {
      height: 100%;
      max-width: 100%; }
    @media (min-width: 48rem) {
      .header .logo {
        height: 2.2rem; } }
  @media (min-width: 48rem) {
    .header {
      height: 6.3rem; } }

.main-visual {
  background: #242e3f;
  color: #fff;
  padding-bottom: 0;
  position: relative; }
  .main-visual__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media (min-width: 48rem) {
      .main-visual__content {
        flex-direction: row; } }
  .main-visual__title {
    padding: 4rem 1.5rem 1rem 1.5rem; }
  .main-visual__claim-text {
    font-size: 1rem;
    line-height: 1.35rem;
    margin: 0 1.5rem; }
    .main-visual__claim-text .btn {
      margin-top: 2.5rem; }
  .main-visual__title, .main-visual__claim-text {
    width: calc(100% - 3rem); }
    @media (min-width: 75rem) {
      .main-visual__title, .main-visual__claim-text {
        max-width: 33rem; } }
  .main-visual__img {
    align-self: flex-end;
    bottom: -4rem;
    position: relative;
    right: -1rem;
    width: 90%;
    height: auto;
    max-width: 21rem;
    z-index: 100; }
    .main-visual__img img {
      width: 100%;
      height: 100%; }
    @media (min-width: 48rem) {
      .main-visual__img {
        max-width: initial; } }
    @media (min-width: 75rem) {
      .main-visual__img {
        bottom: -7rem;
        position: absolute;
        width: 25.4rem; } }
  @media (min-width: 48rem) {
    .main-visual {
      padding-bottom: 2rem; } }
  @media (min-width: 75rem) {
    .main-visual {
      padding-bottom: 5rem; } }

.navbar {
  color: theme-color("white");
  display: flex;
  justify-content: flex-end;
  max-height: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }
  @media (min-width: 48rem) {
    .navbar {
      max-height: inherit;
      position: relative; } }
  .navbar .nav__list {
    animation: slide .3s ease-out;
    display: none; }
    @media (min-width: 48rem) {
      .navbar .nav__list {
        display: block; } }
  .navbar__icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 1.4rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none; }
    .navbar__icon .navicon {
      background: #fff;
      display: block;
      height: .1rem;
      position: relative;
      transition: background .2s ease-out;
      width: 1.5rem; }
      .navbar__icon .navicon::before, .navbar__icon .navicon::after {
        background: #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%; }
      .navbar__icon .navicon::before {
        top: .5rem; }
      .navbar__icon .navicon::after {
        top: -.5rem; }
    @media (min-width: 48rem) {
      .navbar__icon {
        display: none; } }
  .navbar__btn {
    display: none; }
    .navbar__btn:checked ~ .nav__list {
      background: #000;
      display: block;
      height: 100%;
      margin: 0;
      padding: 3rem;
      width: 100%; }
      .navbar__btn:checked ~ .nav__list .nav__item {
        margin: 0; }
      .navbar__btn:checked ~ .nav__list .nav__link {
        display: block;
        padding: 1rem; }
    .navbar__btn:checked ~ .navbar__icon .navicon {
      background: transparent; }
      .navbar__btn:checked ~ .navbar__icon .navicon::before {
        transform: rotate(-45deg); }
      .navbar__btn:checked ~ .navbar__icon .navicon::after {
        transform: rotate(45deg); }
    .navbar__btn:checked ~ .navbar__icon:not(.steps) .navicon::before, .navbar__btn:checked ~ .navbar__icon:not(.steps) .navicon::after {
      top: 0; }
  .navbar .nav__item {
    transition: opacity 0.5s ease;
    list-style: none;
    margin-left: 2.5rem;
    position: relative; }
    .navbar .nav__item::after {
      transition: opacity 0.5s ease;
      border-bottom: 0.15rem solid #40b6e5;
      bottom: -.125rem;
      content: '';
      display: block;
      opacity: 0;
      position: relative; }
    .navbar .nav__item--active::after, .navbar .nav__item:hover::after {
      opacity: 1; }
    @media (min-width: 48rem) {
      .navbar .nav__item {
        display: inline-block; } }
  .navbar .nav__link {
    color: #fff;
    padding: .4rem .155rem;
    position: relative;
    text-decoration: none; }
    @media (min-width: 48rem) {
      .navbar .nav__link {
        display: inline-block; } }
  .navbar--footer {
    justify-content: flex-start; }
    .navbar--footer .nav__list {
      display: block;
      list-style: none;
      padding: 0; }
    .navbar--footer .nav__item {
      display: block;
      margin: 0; }
      @media (min-width: 36rem) {
        .navbar--footer .nav__item {
          display: inline-block; } }
    .navbar--footer .nav__link {
      transition: all 0.5s ease;
      color: #000;
      display: block;
      padding: .5rem .5rem;
      text-decoration: none; }
      .navbar--footer .nav__link:hover {
        text-decoration: underline; }
      @media (min-width: 36rem) {
        .navbar--footer .nav__link {
          padding: .4rem .5rem; } }

.references {
  margin-top: 6.25rem; }
  .references--wrap {
    margin: 0 auto;
    max-width: 57.5rem; }
  .references__item {
    align-items: center;
    box-shadow: 3px 3px 10px 0 #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
    text-decoration: none; }
    .references__item--wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1.5rem; }
      @media (min-width: 62rem) {
        .references__item--wrap {
          flex-direction: row;
          padding: 0; } }
    .references__item--row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .references__item--row:nth-child(odd) .references__item:nth-child(even), .references__item--row:nth-child(odd) .references__item:nth-child(odd), .references__item--row:nth-child(even) .references__item:nth-child(even), .references__item--row:nth-child(even) .references__item:nth-child(odd) {
        width: 100%; }
      @media (min-width: 48rem) {
        .references__item--row {
          flex-direction: row; }
          .references__item--row:nth-child(odd) .references__item:nth-child(even), .references__item--row:nth-child(odd) .references__item:nth-child(odd), .references__item--row:nth-child(even) .references__item:nth-child(even), .references__item--row:nth-child(even) .references__item:nth-child(odd) {
            width: calc((100% - 3rem) / 2); } }
      @media (min-width: 62rem) {
        .references__item--row:nth-child(even) .references__item:nth-child(even) {
          width: calc(((100% - 3rem) / 3) * 2); }
        .references__item--row:nth-child(even) .references__item:nth-child(odd) {
          width: calc((100% - 3rem) / 3); }
        .references__item--row:nth-child(odd) .references__item:nth-child(even) {
          width: calc((100% - 3rem) / 3); }
        .references__item--row:nth-child(odd) .references__item:nth-child(odd) {
          width: calc(((100% - 3rem) / 3) * 2); } }
    .references__item--img {
      height: auto;
      margin: 0;
      position: relative;
      width: 100%; }
      .references__item--img img {
        height: 100%;
        object-fit: cover;
        width: 100%; }
      @media (min-width: 36rem) {
        .references__item--img {
          height: 18rem; } }
    .references__item--title {
      transition: all 0.5s ease;
      background: #fff;
      padding: .65rem;
      text-align: center; }
      @media (min-width: 36rem) {
        .references__item--title {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0; } }
    .references__item h3,
    .references__item h4 {
      margin: 0; }
    .references__item:hover .references__item--title {
      background: rgba(64, 182, 229, 0.9); }
      .references__item:hover .references__item--title h3,
      .references__item:hover .references__item--title h4 {
        color: #fff; }
    @media (min-width: 48rem) {
      .references__item {
        margin: .4rem .75rem; } }

.services {
  margin-top: 6.25rem; }
  .services__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 .5rem;
    width: calc(100% - 2rem); }
    .services__item--wrap {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media (min-width: 36rem) {
        .services__item--wrap {
          flex-direction: row; } }
    .services__item--img {
      position: relative; }
      .services__item--img .badge {
        transition: background 0.5s ease;
        position: absolute;
        top: .9rem;
        left: 2.3rem; }
      .services__item--img img {
        transition: transform 0.4s ease;
        height: auto;
        width: 7rem; }
      .services__item--img:hover .badge {
        background: #40b6e5;
        color: #fff; }
      .services__item--img:hover img {
        transform: scale(1.1); }
    .services__item h3 {
      margin-bottom: 1.5rem;
      text-align: center; }
    .services__item figure {
      border-radius: 6rem;
      height: 12rem;
      position: relative;
      width: 12rem;
      background: #f6f6f6;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .services__item figure > div, .services__item figure span {
        height: 8.4rem;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 8.4rem; }
    @media (min-width: 36rem) {
      .services__item {
        width: calc((100% - 2rem) / 2); } }
    @media (min-width: 75rem) {
      .services__item {
        width: calc((100% - 4rem) / 4); } }

.values {
  background: #eaeff2;
  padding: 1rem 0;
  position: relative; }
  .values__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 100; }
    @media (min-width: 36rem) {
      .values__wrap {
        flex-direction: row; } }
  .values__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; }
    .values__item figure {
      margin-bottom: 0;
      width: 4.5rem; }
      .values__item figure img {
        display: inline-block;
        height: auto;
        width: 100%; }
      @media (min-width: 48rem) {
        .values__item figure {
          margin-bottom: 1.5rem; } }
    .values__item h3 {
      text-align: center; }
    @media (min-width: 36rem) {
      .values__item {
        justify-content: flex-start;
        padding: 2rem 1rem; } }
    @media (min-width: 48rem) {
      .values__item {
        padding: 2rem; } }
  .values__bg {
    background: #eaeff2;
    height: 7rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(-4deg);
    transform-origin: left top;
    width: 100%;
    z-index: 10; }

/*# sourceMappingURL=style.css.map */
