html {
    -webkit-text-size-adjust: 100%; // sass-lint:disable-line no-vendor-prefixes
    background-color: $white;
    font-family: $font-primary, sans-serif;
    font-size: $base-font-size;
    overflow-x: hidden;
}

body {
    color: $primary;
    font-family: $font-primary, sans-serif;
    font-size: .8rem;
    height: 100%;
    margin: 0;
    width: 100%;
}

%container,
.container, {
	margin: 0 auto;
    max-width: 1440px;
    padding: 0 .25rem;
    position: relative;

    @include media-breakpoint-up(sm) {
        padding: 0 .5rem;
    }
}

.main-content-wrap {
    min-height: 100vh;
    padding: 0;
    position: relative;
}