.no-list-type {
    list-style: none;
}

.no-margin {
    margin: 0;
}

.content-two-cols {
    columns: 2;
}

.hidden {
    display: none;
}

.align {
    display: flex;
    width: 100%;

    &--right {
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }
}

.text-hide {
    display: block;
    height: 1px;
    text-indent: -9999px;
}