.badge {
	background: $white;
	border: .15rem solid $secondary;
	border-radius: 50%;
	color: $primary;
	font-size: 1.15rem;
	font-weight: bold;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	width: 2.4rem;
}