.btn {
    border: 0;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 1.5rem 1.25rem;
    text-align: center;

    &--wrap {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 3rem 0;
    }

    &--primary {
        @include transition(background .5s ease);
        background: $primary;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background: darken($primary, 10%);
            color: $white;
        }
    }

    &--secondary {
        @include transition(background .5s ease);
        background: $secondary;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            background: darken($secondary, 10%);
            color: $white;
        }

        &--border {
            background: transparent;
            border: .15rem solid $secondary;
            font-size: .8rem;
            padding: .85rem 3rem;
        }
    }

    &--right {
        flex-basis: flex-end;
    }
}