.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input:not([type="submit"]),
    textarea {
    	background: $white;
    	border: 0;
        height: (2.5rem - 1rem);
        margin: 0 .125rem .5rem .125rem;
        padding: .5rem 1rem;
    }

    input:not([type="submit"]) {
    	width: calc((100% - 4.5rem) / 2);
    }

    textarea {
        height: 7.6rem;
        width: 100%;
    }

    input[type="submit"] {
        font-size: .8rem;
        min-width: 11rem;
        padding: .75rem 1.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    .gdpr {
        margin: 0 0 .8rem 0;
    }

}