.list {
    &-angle-right {
        li {
            list-style: none;

            &::before {
                content: '\203A';
                font-size: 1rem;
                margin-right: .4rem;
            }
        }
    }

    &-type-primary {
        counter-reset: li;
        list-style: none;

        li::before {
            color: theme-color('primary');
        }

        &--ol {
            > li {
                counter-increment: li;

                &::before {
                    content: counter(li);
                    color: theme-color('primary');
                    display: inline-block;
                    width: 1rem;
                    margin-left: -1rem;
                }
            }
        }
    }
}