.swiper {
    align-items: center;
    background: theme-color('black');
    border-radius: 1.2rem;
    display: flex;
    flex-direction: row;
    height: 10rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;

    &-container {
        height: 8rem;
        width: 88%;
    }

    &-slide {
        background: theme-color('black');
        color: theme-color('gray-300');
        text-align: center;
        font-size: .6rem;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin-right: .5rem!important;

        img {
            object-fit: cover;
            width: 100%;
        }

        .content {
            line-height: .8rem;
            padding-top: .5rem;
            margin: 0;
            max-height: 1.2rem;
        }
    }

    &-button-prev,
    &-button-next {
        height: 1.3rem;
        opacity: .5;
        width: 1rem;

        &:hover {
            opacity: 1;
        }
    }

    &-button-prev {
        background: url("./static/images/arrow-left.png") no-repeat;
    }

    &-button-next {
        background: url("./static/images/arrow-right.png") no-repeat;
    }
}