.table {
    thead {
        tr {
            th {
                background: theme-color('primary');
                color: theme-color('white');
                font-weight: 400;
            }
        }
    }

    &-wrap {
        margin: 2.5rem 0;
    }

    &-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background: theme-color('white');
                }

                &:nth-of-type(even) {
                    background: theme-color('light');
                }
            }
        }
    }

    tr {
        td {
            &.active {
                background: theme-color('secondary-light');
            }
        }
    }
}