.footer {
	background: $background-light;
	flex-wrap: wrap;
	margin-top: 7.75rem;
	position: relative;

	&--top {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 1.5rem;
		position: relative;
		z-index: 100;

		.contact-box, 
		.contact-form-box {
			width: 100%;

			h2 {
				margin-left: 0;
			}

			@include media-breakpoint-up(lg) {
				padding: 0 1.5rem;
				width: calc((100% - 6rem) / 2);
			}
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}

		@include media-breakpoint-up(xl) {
			padding: 0;
		}
	}

	&--bottom {
		border-top: .05rem solid $black;
		margin: 2rem 1.5rem 0 1.5rem;
		padding: .35rem 0;
	}

	&__bg {
		background: $background-light;
		height: 9.75rem;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: skewY(-5deg);
		transform-origin: left top;
		width: 100%;
		z-index: 10;
	}
}