.header {
    background: $primary;
    display: block;
    height: auto;
    position: relative;
    z-index: 1000;

    h1 {
        margin: .5rem 0;
    }

    &__wrap {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .logo {
        height: 1.8rem;
        margin: 0;
        width: auto;

        img {
            height: 100%;
            max-width: 100%;
        }

        @include media-breakpoint-up(md) {
            height: 2.2rem;
        }
    }

     @include media-breakpoint-up(md) {
        height: 6.3rem;
    }
}
