.main-visual {
	background: $primary;
	color: $white;
	padding-bottom: 0;
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@include media-breakpoint-up(md) {
	        flex-direction: row;
	    }
	}

	&__title {
		padding: 4rem 1.5rem 1rem 1.5rem;
	}

	&__claim-text {
		font-size: 1rem;
		line-height: 1.35rem;
		margin: 0 1.5rem;

		.btn {
			margin-top: 2.5rem;
		}
	}

	&__title,
	&__claim-text {
		width: calc(100% - 3rem);

		@include media-breakpoint-up(xl) {
       		max-width: 33rem;
	    }
	}

	&__img {
		align-self: flex-end;
		bottom: -4rem;
		position: relative;
		right: -1rem;
		width: 90%;
		height: auto;
		max-width: 21rem;
		z-index: 100;

		img {
			width: 100%;
			height: 100%;
		}

	 	@include media-breakpoint-up(md) {
       		max-width: initial;
	    }

	    @include media-breakpoint-up(xl) {
       		bottom: -7rem;
			position: absolute;
			width: 25.4rem;
	    }
	}

	@include media-breakpoint-up(md) {
        padding-bottom: 2rem;
    }

	@include media-breakpoint-up(xl) {
        padding-bottom: 5rem;
    }
}