.navbar {
    color: theme-color('white');
    display: flex;
    justify-content: flex-end;
    max-height: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
        max-height: inherit;
        position: relative;
    }

    .nav__list {
        animation: slide .3s ease-out;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    &__icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 1.4rem 1rem;
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;

        .navicon {
          background: $white;
          display: block;
          height: .1rem;
          position: relative;
          transition: background .2s ease-out;
          width: 1.5rem;

            &::before,
            &::after {
              background: $white;
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              transition: all .2s ease-out;
              width: 100%;
            }

            &::before {
              top: .5rem;
            }

            &::after {
              top: -.5rem;
            }
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    &__btn {
        display: none;

        &:checked ~ .nav__list {
            background: $black;
            display: block;
            height: 100%;
            margin: 0;
            padding: 3rem;
            width: 100%;

            .nav__item {
                margin: 0;
            }

            .nav__link {
                display: block;
                padding: 1rem;
            }
        }

        &:checked ~ .navbar__icon {
            .navicon {
                background: transparent;

                &::before {
                    transform: rotate(-45deg);
                }

                &::after {
                  transform: rotate(45deg);
                }
            }

            &:not(.steps) .navicon::before,
            &:not(.steps) .navicon::after {
                top: 0;
            }

        }
    }

    .nav {
        &__item {
            @include transition(opacity .5s ease);
            list-style: none;
            margin-left: 2.5rem;
            position: relative;

            &::after {
                @include transition(opacity .5s ease);
                border-bottom: .15rem solid $secondary;
                bottom: -.125rem;
                content: '';
                display: block;
                opacity: 0;
                position: relative;
            }

            &--active,
            &:hover {
                &::after {
                    opacity: 1;
                }
            }

            @include media-breakpoint-up(md) {
                display: inline-block;
            }
        }

        &__link {
            color: $white;
            padding: .4rem .155rem;
            position: relative;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                display: inline-block;
            }
        }
    }

    &--footer {
        justify-content: flex-start;

        .nav {
            &__list {
                display: block;
                list-style: none;
                padding: 0;
            }

            &__item {
                display: block;
                margin: 0;

                @include media-breakpoint-up(sm) {
                    display: inline-block;
                }
            }

            &__link {
                @include transition(all .5s ease);
                color: $black;
                display: block;
                padding: .5rem .5rem;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                @include media-breakpoint-up(sm) {
                    padding: .4rem .5rem;
                }
            }
        }
    }
}