.references {
	@extend %container;
	margin-top: 6.25rem;

	&--wrap {
		margin: 0 auto;
		max-width: 57.5rem;
	}

	&__item {
		align-items: center;
		box-shadow: 3px 3px 10px 0 $gray-250;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0.5rem 0;
		text-decoration: none;

		&--wrap {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 1.5rem;

			@include media-breakpoint-up(lg) {
		        flex-direction: row;
		        padding: 0;
		    }
		}

		&--row {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

		 	&:nth-child(odd),
	        &:nth-child(even) {
				.references__item {
					&:nth-child(even),
					&:nth-child(odd) {
						width: 100%;
					}
				}
			}

			@include media-breakpoint-up(md) {
				flex-direction: row;

				&:nth-child(odd),
		        &:nth-child(even) {
					.references__item {
						&:nth-child(even),
						&:nth-child(odd) {
							width: calc((100% - 3rem) / 2);
						}
					}
				}
			}

			@include media-breakpoint-up(lg) {
		        &:nth-child(even) {
					.references__item {
						&:nth-child(even) {
							width: calc(((100% - 3rem) / 3) * 2);
						}

						&:nth-child(odd) {
							width: calc((100% - 3rem) / 3);
						}
					}
				}

				&:nth-child(odd) {
					.references__item {
						&:nth-child(even) {
							width: calc((100% - 3rem) / 3);
						}

						&:nth-child(odd) {
							width: calc(((100% - 3rem) / 3) * 2);
						}
					}
				}
		    }
		}

		&--img {
			height: auto;
			margin: 0;
			position: relative;
			width: 100%;
	
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}

			@include media-breakpoint-up(sm) {
				height: 18rem;
			}
		}

		&--title {
			@include transition(all .5s ease);
			background: $white;
			padding: .65rem;
			text-align: center;

			@include media-breakpoint-up(sm) {
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
			}
		}

		h3,
		h4 {
			margin: 0;
		}

		&:hover {
			.references__item--title {
				background: rgba($secondary, .9);

				h3, 
				h4 {
					color: $white;
				}
			}
			
		}

		@include media-breakpoint-up(md) {
        	margin: .4rem .75rem;
        }
	}

}