.services {
	@extend %container;
	margin-top: 6.25rem;

	&__item {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 .5rem;
		width: calc(100% - 2rem);

		&--wrap {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;

			@include media-breakpoint-up(sm) {
		        flex-direction: row;
		    }
		}

		&--img {
			position: relative;

			
			.badge {
				@include transition(background .5s ease);
				position: absolute;
				top: .9rem;
				left: 2.3rem;
			}

			img {
				@include transition(transform .4s ease);
				height: auto;
				width: 7rem;
			}

			&:hover {
				.badge {
					background: $secondary;
					color: $white;
				}

				img {
					transform: scale(1.1);
				}
			}
		}

		h3 {
			margin-bottom: 1.5rem;
			text-align: center;
		}

		figure {
			@include circle(12rem);
			background: $gray-250;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		@include media-breakpoint-up(sm) {
	        width: calc((100% - 2rem) / 2);
	    }

	    @include media-breakpoint-up(xl) {
	        width: calc((100% - 4rem) / 4);
	    }
	   
	}

}