.values {
	background: $background-light;
	padding: 1rem 0;
	position: relative;

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		z-index: 100;

		@include media-breakpoint-up(sm) {
	        flex-direction: row;
	    }
	}

	&__item {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;

		figure {
			margin-bottom: 0;
			width: 4.5rem;

			img {
				display: inline-block;
				height: auto;
				width: 100%;
			}

			@include media-breakpoint-up(md) {
		        margin-bottom: 1.5rem;
		    }
		}

		h3 {
			text-align: center;
		}

		@include media-breakpoint-up(sm) {
	        justify-content: flex-start;
	        padding: 2rem 1rem;
	    }

	    @include media-breakpoint-up(md) {
	        padding: 2rem;
	    }
	}

	&__bg {
		background: $background-light;
		height: 7rem;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: skewY(-4deg);
		transform-origin: left top;
		width: 100%;
		z-index: 10;
	}
}