// fonts
// ---
// Verdana regular
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 500;
    src: url('./static/fonts/opensans/opensans-regular-webfont.eot');
    src: url('./static/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./static/fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
    url('./static/fonts/opensans/opensans-regular-webfont.woff') format('woff'),
    url('./static/fonts/opensans/opensans-regular-webfont.ttf') format('truetype'); // sass-lint:disable-block no-duplicate-properties
}

// Verdana bold
@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
    src: url('./static/fonts/opensans/opensans-bold-webfont.eot');
    src: url('./static/fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./static/fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
    url('./static/fonts/opensans/opensans-bold-webfont.woff') format('woff'),
    url('./static/fonts/opensans/opensans-bold-webfont.ttf') format('truetype'); // sass-lint:disable-block no-duplicate-properties
}

// UI font mixins
// ---

@mixin font-primary-bold {
    font-family: $font-primary, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@mixin font-primary-medium {
    font-family: $font-primary, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

@mixin font-secondary {
    font-family: $font-secondary, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
