 // CIRCLE
 @mixin circle($size: 10rem) {
	border-radius: $size / 2 + 0;
  height: $size;
  position: relative;
  width: $size;

  & > div, span {
    height: $size - $size*0.3;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
    width: $size - $size*0.3;
  }
}

// TRANSITION
@mixin transition($args...) {
  transition: $args;
}
