@mixin title-h1 {
    @include font-primary-bold;
    font-size: 2.2rem;
    line-height: 3.35rem;
    margin: 0 0 .5rem 0;

    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
    }
}

@mixin title-h2 {
    @include font-primary-bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2.75rem;
    margin-left: 1rem;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 5.75rem;
    }
}

@mixin title-h3 {
    @include font-primary-medium;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: .5rem;

    @include media-breakpoint-up(sm) {
        font-size: 1.15rem;
    }
}

@mixin title-h4 {
    @include font-primary-bold;
    font-size: 1rem;
    line-height: 1.6rem;
    margin: .2rem 0 .5rem 0;

    @include media-breakpoint-up(sm) {
        font-size: 1.15rem;
    }
}

@mixin typo-title {
    @include font-primary-bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 1.5rem 0;
}

@mixin typo-copy {
    @include font-primary-medium;
    font-size: .9rem;
    letter-spacing: .03rem;
    line-height: 1.35;
}

@mixin typo-ul {
    @include font-primary-medium;
    font-size: .8rem;
}

@mixin typo-a {
    @include font-primary-medium;
    font-size: 1rem;
}

// Typo

%title-h1,
.title-h1 {
    @include title-h1;

    &::after {
        border-bottom: .15rem solid $secondary;
        content: '';
        display: block;
        max-width: 10.9rem;
        position: relative;
        top: 1rem;
    }
}

%title-h2,
.title-h2 {
    @include title-h2;
}

%title-h2--underline,
.title-h2--underline {
    @extend %title-h2;
    text-transform: uppercase;

    &::after {
        border-bottom: .15rem solid $secondary;
        content: '';
        display: block;
        max-width: 10.9rem;
        position: relative;
        top: 1rem;
    }
}

%title-h3,
.title-h3 {
    @include title-h3;
}

%title-h4,
.title-h4 {
    @include title-h4;
}

%typo-title,
.typo-title {
    @include typo-title;
}

%typo-copy,
.typo-copy {
    @include typo-copy;
}

%typo-ul,
.typo-ul {
    @include typo-ul;
}

%typo-a,
.typo-a {
    @include typo-a;
    color: $secondary;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
        @include transition(box-shadow .5s ease);
        content: '';
        display: block;
        height: .05rem;
        position: relative;
        top: .1rem;
    }

    &:hover {
        &::after {
            box-shadow: 0px 1px 1px $secondary;
        }
    }
}

a {
    color: $primary;
    @include transition(color .3s ease);


    &:hover {
        color: $secondary;
    }
}

address {
    font-size: .9rem;
    font-style: normal;
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
}

// Colors

%typo-color--white,
.typo-color--white {
    color: $white;
}

%typo-color--light,
.typo-color--light {
    color: theme-color('gray-300');
}

%typo-color--primary,
.typo-color--primary {
    color: $primary;
}

%typo-color--secondary,
.typo-color--secondary {
    color: $secondary;
}

