// vars

// Base
$base-font-size: 1.25rem; // 20px

// Fonts
$font-primary: 'Arial, Helvetica, sans-serif';
$font-secondary: 'OpenSans';

// Breakpoints
// base = 16
$grid-breakpoints: (
        xs: 0,
        sm: 36rem,
        md: 48rem,
        lg: 62rem,
        xl: 75rem
);

// base = 20
$container-max-widths: (
        sm: 27rem,
        md: 36rem,
        lg: 48rem,
        xl: 62rem
);

//Colors
$primary: #242e3f;
$secondary: #40b6e5;

$background-light: #eaeff2;
$background-dark: $primary;

$black: #000;
$white: #fff;

$gray-400: #dedede;
$gray-300: #9d9d9d;
$gray-250: #f6f6f6;

$theme-color: ();
$theme-colors: map-merge((
        'primary': $primary,
        'secondary': $secondary,
        'black': $black,
        'white': $white,
        'gray-400': $gray-400,
        'gray-300': $gray-300,
), $theme-color);
